@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yellowtail&display=swap');

body {
    background-color: #39c9c1;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(20,30,13, .7);
    font-family: "Yellotail", ;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a:hover {
    background-color: rgb(231, 211, 211);
    color: #3d5a80;
}
nav a {
    color: #98c1d9;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
h2 {
    margin: 0;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.botton-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 750px;
    background-color: #934432;
}
.home-title h4 {
    color: #32936f;
    font-size: 2em;
    margin-top: 10px;
}
.book, .join {
    color: white;
    text-decoration: none;
    background-color: skyblue;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    color: green;
    background-color: seashell;
}
.msg {
    background-color: rgb(91 194 241);
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: rgb(0, 0, 0);
}
.msg p {
    color: rgb(0, 0, 0);
    font-size: 1em;
    padding-bottom: 15px;
}
footer{
    background-color: rgb(91, 194, 241);
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
footer h3 {
    color: #000000;
}
footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
footer a:hover {
    color: green;
}
footer h3 a:hover {
    text-decoration: none;
}
#hero-img {
    width: 100%;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#local-link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #98c1d9;
}
main section img {
    box-sizing: border-box;
}